<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Author" content="<%= pkg.author %>"/>
    <meta name="Copyright" content="<%= pkg.author %>"/>
    <meta name="keywords" content="<%= pkg.keywords %>"/>
    <meta name="description" content="<%= pkg.license %>"/>
    <title>{{Title}}</title>
    <script src="js/flexible.js"></script><!-- 缩放屏幕比例 -->
    <link rel="stylesheet" href="css/font-awesome.min.css"> <!-- 图标库 -->
    <link rel="stylesheet" href="//at.alicdn.com/t/font_10fchrgpf7x03sor.css">
    <link rel="stylesheet" href="css/swiper.min.css"> <!-- 插件：滑动 -->
    <link rel="stylesheet" href="css/vis-app.css"> <!-- 主框架文件 -->
    <link rel="stylesheet" href="css/vis-do.css"> <!-- 插件：动画库 -->
    <link rel="stylesheet" href="css/vis-index.css"> <!-- 首页专属样式表 -->
    <script src="js/vue.min.js"></script><!-- vue -->
    <script src="js/vue-router.min.js"></script><!-- 路由 -->
</head>
<body>
<header>
    <div class="container">
        <div class="top-nav" id="main-nav">
            <div class="box">
                TNTV-中国唯一一家专注于外汇投资的财经频道
            </div>
        </div>
    </div>
</header>
<div id="index">