<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Author" content="<%= pkg.author %>"/>
    <meta name="Copyright" content="<%= pkg.author %>"/>
    <meta name="keywords" content="<%= pkg.keywords %>"/>
    <meta name="description" content="<%= pkg.license %>"/>
    <title>FXBTG手机端微官网</title>
    <script src="js/flexible.js"></script><!-- 缩放屏幕比例 -->
    <link rel="stylesheet" href="css/font-awesome.min.css"> <!-- 图标库 -->
    <link rel="stylesheet" href="//at.alicdn.com/t/font_10fchrgpf7x03sor.css">
    <link rel="stylesheet" href="css/swiper.min.css"> <!-- 插件：滑动 -->
    <link rel="stylesheet" href="css/vis-app.css"> <!-- 主框架文件 -->
    <link rel="stylesheet" href="css/vis-do.css"> <!-- 插件：动画库 -->
    <link rel="stylesheet" href="css/vis-index.css"> <!-- 首页专属样式表 -->
    <script src="js/vue.min.js"></script><!-- vue -->
    <script src="js/vue-router.min.js"></script><!-- 路由 -->
</head>
<body>
<header>
    <div class="container">
        <div class="top-nav" id="main-nav">
            <div class="box">
关于信用卡入金支付方式暂停使用的通知
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="con">
        <div id="app">
             <span v-bind:title="title">
    {{ message }}
  </span>
            <transition name="custom-classes-transition" enter-active-class="animated tada" leave-active-class="animated bounceOutRight">
            <p v-if="seen">
                {{ message2 }}
                <div v-for="todo in todos">
                    {{ todo.text }}
                </div>
            </p>
</transition>

            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
            <p>
            双向绑定输入
            <input v-model="message"></p>
            <p>效果按钮
            <button v-on:click="reverseMessage">Reverse Message</button>
            </p>
            <div>
            这里是数据
            <ol>
                <!-- Create an instance of the todo-item component -->
                <todo-item v-for="item in aboutList" v-bind:todo="item"></todo-item>
            </ol>
            这里是数据
            </div>
        </div>
    </div>
</div>


<div id="index">
