# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
weui/
Font-Awesome/
Swiper/
Would skip repository Font-Awesome/
Would skip repository Swiper/
dist/fxbtg/js/flexible-compiled.js
dist/fxbtg/js/flexible-compiled.js.map
dist/fxbtg/js/zepto.min-compiled.js
dist/fxbtg/js/zepto.min-compiled.js.map
gulpfile.babel-compiled.js
gulpfile.babel-compiled.js.map
node_modules/
src/fxbtg-js/flexible-compiled.js
src/fxbtg-js/flexible-compiled.js.map
Would skip repository weui/
