@charset "utf-8";
// 手机版样式表-基本
// 颜色组|Color group
$defaultColor:  #ff6600 #ff8533 !default;
$color-light: #fff6f0 !default;
$color-dark: #803300 !default;
$color-hover: #ff8533 !default;


// 文字大小定义
$XXL: 1rem !default;
$XL: .75rem !default;
$L: .5rem !default;
$M: .33rem !default;
$S: .25rem !default;
$XS: .2rem !default;

// 布局基本样式 flex
.box {
  width: 10rem;
  height: 5rem;
  background-color: white;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  &.column {
    flex-direction: column;
  }
}


