// 初始化定义
@import "./set";
@import "./base";
.visiis {
font-size: 100%;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  line-height: 1.6;
  font-family: @vis-FontDefault;
  width: 100%;
  background-color: @vis-BgColorDefault;
}

* {
  margin: 0;
  padding: 0;
}

a img {
  border: 0;
}

a {
  text-decoration: none;
  .setTapColor();
}

// 图片默认
img {
  border-style: none;
  width: 100%;
  height: auto;
  display: block;
}

.container{
  display: block;
  width: 10rem;
  margin: 0 auto;
  font-size: 12px;
  background-color: white;
}

//通用首页顶部
#main-nav{
  -webkit-transition: all .3s ease-out; transition: all .3s ease-out;
}
.top-nav{
  height: 0;
  display: block;
  width: 10rem;
  margin: 0 auto;
  z-index: 999;
  position: fixed;
  overflow: hidden;
  background-color: @vis-ColorBgmain;
  color: white;
  font-size: @S;
  .center();
  &.scrolled{
    height: 1rem;
  }
  .box{
    width: 9rem;
    margin: 0 auto;
    border: solid 1px black;
    background-color: white;
    color: black;
    height: .6rem;
    display: block;
    .center();
    border-radius: 100px;
  }
}

.index {
  .container {
    background-color: @vis-BgColorDefault;
    #swiper-top {
      margin-bottom: @vis-margin;
      background-color: white;
    }
  }
}

//产品列表页面
#pro-list{
  margin-top: @vis-margin;
  margin-bottom: @vis-margin;
  background-color: white;
  .center();
  height: 6rem;
  a{
    font-size: @M;
    line-height: .75rem;
    color: black;
    img{
      width: 100%;
      height: auto;
      max-width: 2rem;
      max-height: 2rem;
      padding: .25rem .25rem 0 .25rem;
      display: block;
      margin: 0 auto;
    }
  }
}
//广告列表页面1
#ad-list1 ,#ad-list2{
  margin-top: @vis-margin;
  margin-bottom: @vis-margin;
  background-color: white;
  height: 5rem;
  .column {
    flex-direction: column;
    height: 5rem;
  }
}
.ad{
  position: relative;
  width: 5rem;
  height: 2.5rem;
  display: block;
  img{
    position: absolute;
  }
  .con{
    padding: .25rem;
    position: absolute;
    h4{
      font-size: @L;
      font-weight: bolder;
      height: 0.8rem;
      line-height: 0.8rem;
color: black;
    }
    p{
      font-size: @S;
      height: 0.6rem;
      line-height: 0.6rem;
      color: black;
      .ellipsis();
    }
    span.btn{
      .ellipsis();
      font-size: .2rem;
      width: 1.2rem;
      padding: .1rem;
      line-height: .2rem;
      display: block;
      border: 1px solid #DDD;
      border-radius: 100px;
      text-align: center;
      color: black;
    }
  }
}
// 页脚样式表
footer{padding-bottom: 1.6rem}
#foot{
  position: fixed;
  height: 1.7rem;
  width: 100%;
  bottom: 0;
  z-index: 999999999999;
  .navbar{
    width: 10rem;
    margin: 0 auto;
    height: 1.7rem;
    background-color: @vis-ColorBgmain;
    bottom: 0;
    z-index: 9999999;
    text-align: center;
    .col {
      color: white;
      i {
        font-size: .8rem;
        line-height: 1rem;
        height: 1rem;
      }
      h4 {
        font-size: @M;
        line-height: .5rem;
        height: .5rem;
      }
    }
    a.col.active{
      color: @vis-ColorFxbtg;
    }
  }
}

// 活动样式列表
#news .box-act {
  background-color: white;
  overflow: hidden;
  margin-bottom: @vis-margin;
  .tit {
    padding: .2rem;
    border-bottom: 1px solid silver;
    font-size: @M;
    line-height: .5rem;
  }
  .con {
    padding: .2rem 0 0 .2rem;
    .col-left {
      width: 9.8rem;
      justify-content: space-between;
      a.col {
        display: block;
        padding-bottom:.2rem ;
        .new-pics{
          display: block;
          padding-right: .2rem;
          color: black;
          img {
            height: auto;
          }
          h4{
            padding-top: .2rem;
            font-size: @L;
            height: 0.6rem;
            line-height: 0.6rem;
            .ellipsis;
          }

          p{
            font-size: @M;
            color: gray;
            height: 0.6rem;
            line-height: 0.6rem;
            .ellipsis;
            padding-bottom: .2rem;
          }
        }
      }
    }
  }
}

// 金融推送
#day{
  background-color: white;
  overflow: hidden;
  .tit {
    padding: .2rem;
    border-bottom: 1px solid silver;
    font-size: @M;
    line-height: .5rem;
  }
  .con{
    .day{
      padding-top: .2rem;
      height: 1rem;
      overflow: hidden;
      .col-1{
        text-align: center;
        font-size: @M;
        line-height: 1rem;
        height: 1rem;
        color: white;
        background-color: @vis-ColorFxbtg;

      }
      .col-2{
        font-size: @M;
        color: black;
        span{
          line-height: .5rem;
          padding-right:.2rem ;
          height: .5rem;
          float: right;
          display: block;
        }
      }
      .col-3{
        border-bottom: solid .1rem @vis-ColorFxbtg;
        span{
          font-size: .5rem;
          min-width: .6rem;
          padding: .1rem;
          color: white;
          float: left;
          background-color: @vis-ColorFxbtg;
        }
      }
    }
    .day-con{
      padding: .2rem;
      h3{
        padding-top:.3rem;
        line-height: .8rem;
        padding-bottom:.3rem;
      }
      h4{
        background-color: #f5f4f4;
        padding: .2rem;
      }
      p{
        padding-top: .2rem;
        font-size: @M;
        line-height: 2;
        text-align: justify;
        padding-bottom: .2rem;
      }
    }
  }
}
// 路由过渡效果 仿照APP
// 动画效果开始

.tree{
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: 99999;
  .tree-list{
    width: 10rem;
    margin: 0 auto;
    background-color: #e7e7e7;
    display: block;
    padding-bottom: 1.7rem;
    h3{
      font-size: @L;
      padding: .3rem;

    }
    h4{
      background-color: @vis-ColorBgmain;
      color: white;
      line-height: 1;
      font-size: @M;
      padding: .3rem;

    }
    .flex{
      padding-bottom: .25rem;
      a{
        .btn{
        display: block;
        font-size: @M;
        width: 4rem;
        margin: .25rem auto 0 auto;
        background-color: white;
        color: black;
          border: solid 1px grey;
          border-radius: 100px;
          text-align: center;
          line-height: 2;



        }
      }
    }
  }
}

.wz{
  background-color: @vis-ColorBgmain;
  color: white;
  font-size: @M;
  line-height: 1rem;
  height: auto;
  width: 100%;
  a{
    display: block;
    width: 2.5rem;
    float: left;
    text-align: center;
    color: white;
    background-color: @vis-ColorBgmain;
    &.on{
background-color: @vis-ColorFxbtg;
    }
  }
  .clear{
    clear: both;
    height: 0;
    line-height: 0;
  }
}

//我的 导航
#me-list{
  text-align: center;
  padding-bottom: .5rem;
  padding-top: .2rem;
  a{
  color: black;}
}

.vis-cells {
  margin-top: @vis-CellsMarginTop;
  background-color: @vis-CellBg;
  line-height: 2;
  font-size: @L; //cell中间有效高度23px，跟客户端默认图标尺寸一致

  overflow: hidden; //因为每个cell的border使用before元素left搞的，ie下伪元素的containing block估计跟标准不同，在cell上用oh不生效

  // onepx
  position: relative;
  &:before {
    .setTopLine(@vis-CellBorderColor);
  }
  &:after {
    .setBottomLine(@vis-CellBorderColor);
  }
}

.vis-cells__title {
  margin-top: .77em; // 15px - 行高
  margin-bottom: .3em; // 8px - 行高
  padding-left: @vis-CellGapH;
  padding-right: @vis-CellGapH;
  color: @vis-TextColorGray;
  font-size: @vis-CellTipsFontSize;

  & + .vis-cells {
    margin-top: 0;
  }
}

.vis-cells__tips {
  margin-top: .3em; // 8px - 行高
  color: @vis-TextColorGray;
  padding-left: @vis-CellGapH;
  padding-right: @vis-CellGapH;
  font-size: @vis-CellTipsFontSize;
}

.vis-cell {
  padding: @vis-CellGapV @vis-CellGapH;
  position: relative; //这个是为了兼容cells容器onepx方案被before挡住而做的
  display: flex;
  align-items: center;
  &:before {
    .setTopLine(@vis-CellBorderColor);
    left: @vis-CellGapH;
  }
  &:first-child {
    &:before {
      display: none;
    }
  }
}
.vis-cell_primary{
  align-items: flex-start;
}
.vis-cell__bd{
  flex: 1;
  .fa{
    width: .6rem;
  }
}
.vis-cell__ft {
  text-align: right;
  color: @vis-TextColorGray;
}
.vis-cell_access {
  .setTapColor();
  color: inherit;
  &:active {
    background-color: #ECECEC;
  }
  .vis-cell__ft {
    padding-right: 13px;
    position: relative;
    &:after {
      content: " ";
      .setArrow(right, 6px, #C8C8CD, 2px);
      position: absolute;
      top: 50%;
      margin-top: -4px;
      right: 2px;
    }
  }
}
.vis-cell_link{
  color: @vis-LinkColorDefault;
  font-size: 14px;

  // 由于vis-cell:first-child的:before为隐藏，所以这里要重新显示出来
  &:first-child{
    &:before{
      display: block;
    }
  }
}
.fa{
  text-align: center;
}
