<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Author" content="<%= pkg.author %>"/>
    <meta name="Copyright" content="<%= pkg.author %>"/>
    <meta name="keywords" content="<%= pkg.keywords %>"/>
    <meta name="description" content="<%= pkg.license %>"/>
    <title>FXBTG手机端微官网</title>
    <script src="js/flexible.js"></script><!-- 缩放屏幕比例 -->
    <link rel="stylesheet" href="css/font-awesome.min.css"> <!-- 图标库 -->
    <link rel="stylesheet" href="//at.alicdn.com/t/font_10fchrgpf7x03sor.css">
    <link rel="stylesheet" href="css/swiper.min.css"> <!-- 插件：滑动 -->
    <link rel="stylesheet" href="css/vis-app.css"> <!-- 主框架文件 -->
    <link rel="stylesheet" href="css/vis-do.css"> <!-- 插件：动画库 -->
    <link rel="stylesheet" href="css/vis-index.css"> <!-- 首页专属样式表 -->
    <script src="js/vue.min.js"></script><!-- vue -->
    <script src="js/vue-router.min.js"></script><!-- 路由 -->
</head>
<body>
<header>
    <div class="container">
        <div class="top-nav" id="main-nav">
            <div class="box">
关于信用卡入金支付方式暂停使用的通知
            </div>
        </div>
    </div>
</header>
<div id="index">
<link rel="stylesheet" href="css/vis-down.css"> <!-- 下载页样式表 -->
<transition name="custom-classes-transition" enter-active-class="animated tada" leave-active-class="animated bounceOutRight">
    <div v-if="show">
        <div class="container">
    <div class="banner">
        <img src="src/banner-1.jpg">
    </div>
    <div class="wz">
        <a href="#">FXBTG微单</a> <a href="#" class="on">MT4支持</a> <a href="#">资料下载</a>
        <div class="clear"></div>
    </div>
</div>
<div class="container">

    <h1>MetaTrader 4</h1>

    <div class="flex">
        <div class="col">
            <div class="logo"><img src="src/mt4-logo.jpg"></div>
        </div>
    </div>
    <div class="wait">
        即将发布，敬请期待.. FXBTG微单
    </div>

    <div class="con">
        <p><img src="src/mt-1.png"></p>
        <h3>电脑端</h3>
        <p>FXBTG-MetaTrader 4客户终端能顺利地帮助您登陆交易网,是一款专门在“Forex”、“CFD”和“Futures”上实现交易的行为的工具，帮助您在现实中实现技术分析。  <a href="javascript:;" class="vis-btn vis-btn_primary">WIN 安装版</a>
            <a href="javascript:;" class="vis-btn vis-btn_primary">WIN 绿色版</a></p>

        <p><img src="src/mt-2.png"></p>
        <h3>移动端</h3>
        <h4>IOS TRADER</h4>
        <p>  FXBTG IOS iTrader - 专为iPad设计的交易应用程序,使您可以随时随地接入移动互联网并进行外汇交易！FXBTG MT4 iTrader应用程序提供了一个十分友好的用户界面，并结合了功能丰富的MetaTrader4交易平台，让您充分享受移动交易的便捷！
            <a href="javascript:;" class="vis-btn vis-btn_primary">苹果版</a>
        </p>

        <h4> ANDROID TRADER</h4>
            <p>FXBTG MT4 Android版终端既有技术分析数据和图形可视化。具有独特的离线模式，不需连接到服务器，也同样进行外汇行情分析，所有的交易行为都经过严格的数据加密，并可以随时查看已完成的交易历史。
                <a href="javascript:;" class="vis-btn vis-btn_primary">安卓版</a>
            </p>

    </div>
</div>



    </div>
</transition>

<div class="hide">
<transition name="custom-classes-transition" enter-active-class="animated fadeInDown" leave-active-class="animated bounceOutRight">
    <div v-if="!show" class="tree">
            <div class="tree-list">
                <h3><i class="visiis vis-notice"></i> 网站导航</h3>
                <h4>关于</h4>
                <div class="flex wrap avg-2">
                    <a class="col nav-a" href="#"><div class="btn">FXBTG 金融集团</div></a>
                    <a class="col nav-a" href="#"><div class="btn">为什么选择我们</div></a>
                    <a class="col nav-a" href="#"><div class="btn">监管与许可</div></a>
                    <a class="col nav-a" href="#"><div class="btn">企业荣誉</div></a>
                    <a class="col nav-a" href="#"><div class="btn">资金安全</div></a>
                    <a class="col nav-a" href="#"><div class="btn">社会责任</div></a>
                    <a class="col nav-a" href="#"><div class="btn">商业模式</div></a>
                    <a class="col nav-a" href="#"><div class="btn">联系我们</div></a>
                </div>
                <h4>商品</h4>
                <div class="flex wrap avg-2">
                    <a class="col nav-a" href="#"><div class="btn">外汇</div></a>
                    <a class="col nav-a" href="#"><div class="btn">贵金属</div></a>
                    <a class="col nav-a" href="#"><div class="btn">能源</div></a>
                    <a class="col nav-a" href="#"><div class="btn">股指</div></a>
                    <a class="col nav-a" href="#"><div class="btn">农产品</div></a>
                    <a class="col nav-a" href="#"><div class="btn">差价合约</div></a>
                    <a class="col nav-a" href="#"><div class="btn">原油</div></a>
                    <a class="col nav-a" href="#"><div class="btn">其他</div></a>
                </div>
                <h4>下载</h4>
                <div class="flex wrap avg-2">
                    <a class="col nav-a" href="#"><div class="btn">FXBTG 微单</div></a>
                    <a class="col nav-a" href="#"><div class="btn">MT4</div></a>
                    <a class="col nav-a" href="#"><div class="btn">资源下载</div></a>
                </div>
                <h4>视频</h4>
                <div class="flex wrap avg-2">
                    <a class="col nav-a" href="#"><div class="btn">TNTV直播</div></a>
                    <a class="col nav-a" href="#"><div class="btn">每日一波</div></a>
                    <a class="col nav-a" href="#"><div class="btn">企业宣传片</div></a>
                </div>
                <h4>资讯</h4>
                <div class="flex wrap avg-2">
                    <a class="col nav-a" href="#"><div class="btn">经济日历</div></a>
                    <a class="col nav-a" href="#"><div class="btn">每日分析</div></a>
                    <a class="col nav-a" href="#"><div class="btn">系统公告</div></a>
                    <a class="col nav-a" href="#"><div class="btn">财经资讯</div></a>
                    <a class="col nav-a" href="#"><div class="btn">活动中心</div></a>
                </div>
                <h4>帮助</h4>
                <div class="flex wrap avg-2">
                    <a class="col nav-a" href="#"><div class="btn">新手常见问题</div></a>
                    <a class="col nav-a" href="#"><div class="btn">财务充值问题</div></a>
                    <a class="col nav-a" href="#"><div class="btn">交易常见问题</div></a>
                    <a class="col nav-a" href="#"><div class="btn">外汇问题</div></a>
                    <a class="col nav-a" href="#"><div class="btn">黄金问题</div></a>
                    <a class="col nav-a" href="#"><div class="btn">关于取款问题</div></a>
                </div>
                <h4>工具</h4>
                <div class="flex wrap avg-2">
                    <a class="col nav-a" href="#"><div class="btn">查询IB</div></a>
                    <a class="col nav-a" href="#"><div class="btn">建议反馈</div></a>
                </div>
                <h4>我的</h4>
                <div class="flex wrap avg-2">
                    <a class="col nav-a" href="#"><div class="btn">登录 FXBTG</div></a>
                    <a class="col nav-a" href="#"><div class="btn">立即开户</div></a>
                </div>
            </div>
    </div>
</transition>
    </div>
<footer>
    <div id="foot">
        <div class="flex wrap avg-5 navbar"><a class="col nav-a" href="index.html" data-rel="auto"><i
                class="visiis vis-home"></i><h4>首页</h4></a><a class="col nav-a" href="down.html" data-rel="auto"><i
                class="visiis vis-down"></i><h4>下载</h4></a><a class="col nav-a" href="intro.html" data-rel="auto"><i
                class="visiis vis-tntv"></i><h4>TNTV</h4></a><a class="col nav-a" href="me.html" data-rel="auto"><i
                class="visiis vis-me"></i><h4>我的</h4></a>
            <a class="col more" @click="show = !show" href="#index"><i class="visiis vis-more"></i><h4>更多</h4></a>
        </div>
    </div>
</footer>
</div>
</body>
<!-- 主JS框架 -->
<script src="js/zepto.min.js"></script><!-- zeptojs -->
<!-- JS插件 -->
<script src="js/swiper.min.js"></script><!-- 插件：swiper滑动 -->
</html>
<script>
    /*============================================
     顶部导航
     ==============================================*/
    $(document).ready(function () {
        $(window).scroll(function () {
            if ($(window).scrollTop() < 10) {
                $('#main-nav').removeClass('scrolled');
            }
            else {
                $('#main-nav').addClass('scrolled');
            }
        });
    });
    /*============================================
     滑动导航组件
     ==============================================*/
    new Vue({
        el: '#index',
        data: {
            show: true
        }
    })

</script>

