<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Author" content="<%= pkg.author %>"/>
    <meta name="Copyright" content="<%= pkg.author %>"/>
    <meta name="keywords" content="<%= pkg.keywords %>"/>
    <meta name="description" content="<%= pkg.license %>"/>
    <title>VISIS框架库</title>

    <script src="js/flexible.js"></script><!-- 缩放屏幕比例 -->
    <link rel="stylesheet" href="css/font-awesome.min.css"> <!-- 图标库 -->
    <link rel="stylesheet" href="css/vis-app.css"> <!-- 主框架文件 -->
    <link rel="stylesheet" href="css/vis-index.css"> <!-- 首页专属样式表 -->
</head>
<body>


开始
</body>
<!-- 主JS框架 -->
<script src="js/vue.min.js"></script><!-- vuejs -->
<script src="js/zepto.min.js"></script><!-- zeptojs -->
<!-- JS插件 -->
</html>vue