@charset "utf-8";
// 手机版样式表-基本
// 颜色组|Color group
$defaultColor:  #08c #333 !default;
$defaultColor:  #08c #333 !default;
$defaultColor:  #08c #333 !default;
$defaultColor:  #08c #333 !default;
$defaultColor:  #08c #333 !default;
$defaultColor:  #08c #333 !default;
$defaultColor:  #08c #333 !default;





body {
  .h1{
    font-size: 15px;
  }
  background: #eee;
  font-size: 12px;

}


